/*==アコーディオン==*/
.accordion-wrap {
    width: calc(60% - 50px);
    position: relative;
    top: -5vmin;
    left: 9.5vmin;
    padding: 1rem;
    margin: 0 auto;
    border: 1px solid var(--border);
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(2px);
    margin-bottom: 1rem;
    mix-blend-mode: difference;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.5);
}

/*title*/
.accordion-item {
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-items: center;
}

.accordion-header {
    width: 100%;
    padding-left: 6%;
    border-bottom: 1px solid var(--text);
    transition: color 100ms;
}

.accordion-header h3 {
    font-size: clamp(1.6rem, 0.933rem + 0.89vw, 2rem);
    color: var(--text);
    border-left: 1px solid var(--text);
    padding: 0 1rem;
}

.accordion-header h3 .active {
    color: var(--accent);
}

/*in-text*/
.accordion-text {
    margin: 2rem auto;
    display: none;
    overflow-y: auto;
}

.accordion-text h4 {
    font-size: clamp(1.6rem, 1.267rem + 0.44vw, 1.8rem);
    font-weight: 600;
    color: var(--text);
    margin: 1vmin 10vmin 0;
    mix-blend-mode: normal;
}

.accordion-text p {
    font-size: clamp(1.4rem, 1.067rem + 0.44vw, 1.6rem);
    width: 80%;
    font-weight: 500;
    color: var(--text);
    top: 0;
    left: 0;
    margin: 0 auto;
    letter-spacing: 0.1rem;
    mix-blend-mode: color-burn;
    text-shadow: none;
}

.contact #section--third .accordion-text p {
    width: 80%;
}

/*i*/
.fa {
    transition: transform 300ms, color 100ms;
}

.fa span {
    content: "";
    width: 3%;
    height: 1px;
    position: absolute;
    top: 2.5rem;
    left: 2rem;
    background-color: var(--text);
}

.fa span:nth-child(2) {
    transform: rotate(90deg);
    transition: all 0.5s ease;
}

.rotate-fa span:nth-child(2) {
    transform: rotate(0deg);
}

.accordion-header .fa {
    float: left;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}

.accordion-gold .accordion-header {
    color: var(--accent);
}

.accordion-no-bar {
    border-bottom: 0;
}

/*== アコーディオンEND ==*/

@media screen and (max-width: 600px) {
    .accordion-wrap {
        width: 95%;
        left: 0;
        top: 0;
        padding: 0.15rem;
        margin-bottom: 0;
    }

    .accordion-item {
        height: 50px;
    }

    .contact .mobile .accordion-header h3 {
        font-size: clamp(1.6rem, 1.371rem + 1.14vw, 1.8rem);
        line-height: 3rem;
        padding: 0.75rem;
    }

    .accordion-text p {
        font-size: clamp(1.4rem, 1.171rem + 1.14vw, 1.6rem);
        width: 90%;
    }
    .fa span {
        width: 5.8%;
        top: 2.8rem;
        left: 0.2rem;
    }

    .fa {
        padding-top: 0.25rem;
        padding-right: 0.25rem;
    }
}
