@media only screen and (max-width:599px) {
    footer {
        position: relative;
        height: 80svh;
        padding-left: 6vmin;
        border-top: 1px solid var(--border);
        background: url("../assets/images/pd-bg-img.jpg") no-repeat top center/cover;
        z-index: 10;
    }

    footer::before {
        content: "";
        height: 100%;
        border-right: 1px solid var(--border);
        position: absolute;
        left: 8vmin;
    }

    footer .noise {
        display: block;
    }

    footer a {
        font-size: clamp(2rem, 1.855rem + 0.73vw, 2.4rem);
        margin: 1rem 0 0 2rem;
        padding: 0.5rem;
    }

    .fo-a {
        margin-top: 1rem;
    }

    footer a:hover,
    footer a:focus {
        opacity: 0.95;
    }

    .foot {
        font-family: sans-serif;
        font-size: clamp(1.2rem, 1.127rem + 0.36vw, 1.4rem);
        position: absolute; /* 位置を固定 */
        left: 4vmin;
        bottom: 5vmin;
        transform-origin: left bottom; /* 左下を基準に回転 */
        white-space: nowrap;
        writing-mode: vertical-rl; /* 文字の向きを縦書きに */
    }
}