/*== NAV ==*/
nav {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 40%;
    background: var(--bg);
    mix-blend-mode: screen;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.8s ease;
    z-index: 999;
    transition: all 1s ease;
}

.open nav {
    right: 0;
}

.inner {
    padding: 20% 0 0 20%;
}

.inner ul {
    margin: 0;
    padding: 0;
}

.inner ul li {
    position: relative;
    width: fit-content;
    border-bottom: 1px solid var(--hover);
}

.inner ul li:nth-child(5) {
    margin-top: 10rem;
}

#navArea .inner li a {
    display: block;
    position: relative;
    font-size: clamp(2.8rem, calc(2.8rem + 0.1vw), 3rem);
    color: var(--text);
    height: 100%;
    margin-top: 1.5rem;
    padding: .35em .65em 0 .2em;
    text-decoration: none;
    overflow: hidden;
}

#navArea .inner li a::before {
    content: '-';
}

#navArea .inner li a:hover {
    color: var(--hover);
    text-shadow: 0 1px 3px var(--accent);
    opacity: 0.5;
}

#navArea .inner li a::after {
    bottom: 0;
}

/* .toggle_btn styles */
.toggle_btn {
    position: fixed;
    bottom: 30vmin;
    right: 0;
    width: 15%;
    cursor: pointer;
    z-index: 9997;
}

.image-container {
    position: relative;
}

#menu-img {
    width: 75%;
    mix-blend-mode: difference;
    position: absolute;
    cursor: grab;
}

.menu-img {
    animation: rotate-r 45s infinite linear;
}

@keyframes rotate-r {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.menu-img2 {
    animation: rotate-l 30s infinite linear;
}

@keyframes rotate-l {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

/* .toggle_btn styles
.toggle_btn {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 10%;
    height: 5%;
    border-left: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    transition: all 1.3s;
    cursor: pointer;
    z-index: 9999;
    transform: translate(0, 0);
}

.toggle_btn span {
    display: block;
    position: absolute;
    top: 25px;
    width: 30px;
    height: 1px;
    background: var(--text-color);
    overflow: hidden;
    z-index: 10000;
}
.toggle_btn span::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
            transparent,
            var(--accent-color) 0%,
            var(--text-color) 100%,
            transparent);
    animation: scroll-left 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
    background-size: 200% 100%;
    transition: all 2s;
    animation-delay: 2s;
    animation-duration: 3.5s;
}

@keyframes scroll-left {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}*/
/*== OPEN ==*/
.open nav {
    right: 0;
}

/*.open .toggle_btn {
    transition: all 1s ease;
}
.open .toggle_btn span {
    background-color: var(--text-color);
    box-shadow: -4px -4px 0px 0 var(--hover-color);
    width: 100%;
    height: 0.5px;
    z-index: 100;
    transition: all 1s ease;
}
.toggle_btn span:nth-child(1) {
    transition: all 1s ease;
}
.open .toggle_btn span:nth-child(1) {
    transform: translate(310%, 0);
    transition: all 1s ease;
    opacity: .5;
}
.toggle_btn span:nth-child(2) {
    top: -200%;
    animation-delay: 0.56s;
    transform: translate(0%, 0%) rotate(90deg);
    transition: all 1s ease;
    opacity: 1;
}
.open .toggle_btn span:nth-child(2) {
    top: 3%;
    transform: translate(0%, 0%) rotate(90deg);
    transition: all 1s ease;
    opacity: 1;
}
.toggle_btn span:nth-child(3) {
    transform: translate(320%, 0);
    transition: all 1s ease;
    animation-delay: 0.56s;
    opacity: 1;
}
.open .toggle_btn span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg);
    transition: all 1s ease;
    opacity: 1;
}*/
/* Mask */
#mask {
    display: none;
    right: -100%;
    top: 0;
    transition: 0.8s ease;
}

.open #mask {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 1s ease;
    justify-content: flex-start;
    align-items: end;
    z-index: 998;
    background: rgba(46, 46, 46, 0.7);
    background-image: repeating-linear-gradient(0deg, transparent, transparent 4px, rgba(146, 146, 146, 0.5) 5px, rgba(146, 146, 146, 0.5) 5px);
    animation: menu-left 1s ease, moveBackground 0.65s linear infinite;
}

@keyframes menu-left {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0%);
    }
}

.open #mask ul {
    width: fit-content;
    margin: calc(35% - 5vw) 0 0 8%;
}

.open #mask ul p {
    font-size: clamp(2rem, calc(2rem + 0.1vw), 2.4rem);
    color: var(--border);
    margin: 0;
}

.open #mask li {
    width: 90%;
    font-size: clamp(1.8rem, calc(1.8rem + 0.1vw), 2rem);
    color: var(--bg);
    margin: 0.5rem auto 1.8rem;
    padding: 0 0.25em 0.15rem;
    border-bottom: 1px solid;
}


@media screen and (min-width: 1300px) {

    /* PC_Menu */
    header .noise {
        -webkit-text-fill-color: linen;
        -webkit-text-fill-color: cadetblue;
    }

    .pc_menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        width: clamp(3%, 10%, 4%);
        height: 100%;
        top: 0;
        left: 0;
        border: 1px solid var(--text);
        border-left: 10px solid var(--text);
        /*background-image:
            linear-gradient(100deg, transparent 1%, rgba(217, 217, 217, 0.15) 60%),
            linear-gradient(120deg, transparent 1%, rgba(46, 46, 46, 0.15) 60%);
        background-size: 5px 2px, 2px 5px;*/
        z-index: 100;
        animation: fadeIn_bg 3s ease forwards;
        transition: background-color 0.45s ease;
    }

    .pc_menu ul {
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        border-bottom: 1px solid var(--text);
    }

    .pc_menu li {
        height: 110px;
    }

    .pc_menu a,
    .pc_menu #chat-icon {
        font-size: clamp(1.6rem, calc(1.6rem + 0.5vw), 2.2rem);
        font-weight: 400;
        color: var(--text);
        width: 114px;
        height: fit-content;
        text-decoration: none;
        padding: 0.5rem 0;
        display: flex;
        justify-content: center;
        transform: rotate(90deg);
        transition: color 0.3s ease;
        /*-webkit-text-stroke-width: 0.75px;*/
        /*-webkit-text-stroke-color: var(--text);*/
    }

    .manu_p a {
        font-size: clamp(2rem, calc(2rem + 0.5vw), 2rem);
    }

    .pc_menu a:hover,
    .pc_menu #chat-icon:hover {
        -webkit-text-stroke-color: cadetblue;
        color: var(--accent);
    }


    .logo {
        position: relative;
        top: 0;
        transform: rotate(-90deg);
        border-left: 1px solid var(--text);
        border-right: 1px solid var(--text);
        z-index: 1;

        img {
            width: 5vmin;
        }

        a {
            width: 55px;
        }

        a:hover {
            background: none;
        }
    }

    /*=========== audio*/
    .audio {
        width: 100%;
        padding: 2rem 0.5rem 1rem;
        border: 1px solid var(--text);
    }

    .toggle-switch {
        position: relative;
    }

    .toggle-checkbox {
        display: none;
    }

    .toggle-label {
        position: relative;
        display: block;
        width: 100%;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .toggle-label i {
        font-size: clamp(2.4rem, calc(2.4rem + 0.1vw), 3rem);
        transition: all 0.3s ease;
    }

    /* ON状態のスタイル
    .toggle-checkbox:checked+.toggle-label {
        background-color: var(--text);
    }*/

    .toggle-checkbox:checked+.toggle-label i {
        -webkit-text-fill-color: var(--accent);
        transform: rotate(-135deg);
    }

    .fa-power-off:before {
        font-family: FontAwesome;
        content: "\f011";
    }

}